.Song h1,
.Album h1,
.Playlist h1 {
  margin-top: 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}
.header img {
  border-radius: 4px;
  box-shadow: 0 0 1px 0 #0003;
}

.disabledButton {
  position: absolute;
  top: 10px;
  right: 10px;
}
